<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改会议日程明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mtAgendaItem-edit" th:object="${mtAgendaItem}">
            <input id="itemId" name="itemId" th:field="*{itemId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">日程id：</label>
				<div class="col-sm-8">
					<input id="agendaId" name="agendaId" th:field="*{agendaId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<input id="itemStart" name="itemStart" th:field="*{itemStart}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<input id="itemEnd" name="itemEnd" th:field="*{itemEnd}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主持人：</label>
				<div class="col-sm-8">
					<input id="item compere" name="item compere" th:field="*{item compere}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内容：</label>
				<div class="col-sm-8">
					<input id="itemContent" name="itemContent" th:field="*{itemContent}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/mtAgendaItem";
		$("#form-mtAgendaItem-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-mtAgendaItem-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
