<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改会议日程明细')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mtAgendaItem-edit" th:object="${mtAgendaItem}">
            <input id="itemId" name="itemId" th:field="*{itemId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">开始时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="itemStart" name="itemStart" class="form-control" type="text" readonly>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结束时间：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="itemEnd" name="itemEnd" class="form-control" type="text" readonly>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主持人：</label>
				<div class="col-sm-8">
					<input id="itemCompere" name="itemCompere" th:field="*{itemCompere}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内容：</label>
				<div class="col-sm-8">
					<input id="itemContent" name="itemContent" th:field="*{itemContent}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "meeting/mtAgendaItem";
        $(function() {
            dateTimeInit();
        });

        function dateTimeInit() {
            layui.use('laydate', function(){
                var laydate = layui.laydate;

                var itemStart = laydate.render({
                    elem: '#itemStart',
                    theme: 'molv',
                    trigger: 'click',
                    type: 'time',
                    format: 'HH:mm',
                    value: "[[${#dates.format(mtAgendaItem.itemStart,'yyyy-MM-dd')}]]",
                });
                var itemEnd = laydate.render({
                    elem: '#itemEnd',
                    theme: 'molv',
                    trigger: 'click',
                    type: 'time',
                    format: 'HH:mm',
                    value: "[[${#dates.format(mtAgendaItem.itemEnd,'yyyy-MM-dd')}]]",
                });
            });
        }

		$("#form-mtAgendaItem-edit").validate({
			rules:{
                itemStart:{
                    required:true,
                },
                itemEnd:{
                    required:true,
                },
                itemCompere:{
                    required:true,
                },
                itemContent:{
                    required:true,
                },
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-mtAgendaItem-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
