<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改座次图')" />
	<th:block th:include="include :: bootstrap-colorpicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content" id="body" v-cloak>
        <div class="col-sm-4">
			<form class="form-horizontal m" id="form-mtThumInfo-edit" th:object="${mtThumInfo}">
				<input id="thumId" name="thumId" th:field="*{thumId}"  type="hidden">
				<div class="form-group">
					<label class="col-sm-3 control-label">会议：</label>
					<div class="col-sm-8">
						<input id="meetId" name="meetId" th:field="*{meetId}" class="form-control" type="hidden">
						<input th:field="${mtMeetInfo.meetName}" class="form-control" type="text" readonly>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">区域：</label>
					<div class="col-sm-8">
						<input id="areaId" name="areaId" th:field="*{areaId}" class="form-control" type="text">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">尺寸：</label>
					<div class="col-sm-8">
						<div class="input-group date">
							<input id="v_row" v-model="rowNum" class="form-control" type="text" @keyup="rowChange()">
							<span class="input-group-addon"> 行 </span>
							<input id="v_col" v-model="colNum"  class="form-control" type="text" @keyup="colChange()">
							<span class="input-group-addon"> 列 </span>
						</div>
						<input id="rowNum" name="rowNum" th:field="*{rowNum}" type="hidden">
						<input id="colNum" name="colNum" th:field="*{colNum}" type="hidden">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">颜色：</label>
					<div class="col-sm-8">
						<div id="color-picker" class="input-group colorpicker-component">
							<input type="text" class="form-control" id="thumColor" name="thumColor" th:field="*{thumColor}"/>
							<span class="input-group-addon"><i></i></span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-8" v-cloak>
			<div v-for="count in rowNum" style="line-height: 0px;">
				<img v-for="count in colNum" class="thum-seat-uncheck" th:src="@{/img/thum_seat_gray.png}">
			</div>
		</div>

    </div>
    <div th:include="include::footer"></div>
	<th:block th:include="include :: vue-js" />
	<th:block th:include="include :: bootstrap-colorpicker-js" />
    <script type="text/javascript">
		var prefix = ctx + "meeting/mtThumInfo";
        let vm = null;

        $(function () {

            vm = new Vue({
                el: '#body',
                data: {
                    rowNum: [[${mtThumInfo.rowNum}]],
                    colNum: [[${mtThumInfo.colNum}]]
                },
                methods: {
                    rowChange: function () {
                        this.rowNum = $("#v_row").val()*1;
                        console.log(this.rowNum);
                    },
					colChange: function () {
                        this.colNum = $("#v_col").val()*1;
                        console.log(this.colNum);
                    }
                },
                mounted() {
                    colorInit();
				}
            });
        });

        function colorInit(){
            $('#color-picker').colorpicker();
		}

		$("#form-mtThumInfo-edit").validate({
			rules:{
                areaId:{
					required:true,
				},
                rowNum:{
					required:true,
				},
                colNum:{
					required:true,
				},
                thumColor:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
		    $("#rowNum").val(vm.rowNum);
		    $("#colNum").val(vm.colNum);
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-mtThumInfo-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
