<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdl.seatms.project.system.mtMeetInfo.mapper.MtMeetInfoMapper">
    
    <resultMap type="MtMeetInfo" id="MtMeetInfoResult">
        <result property="meetId"    column="meet_id"    />
        <result property="meetName"    column="meet_name"    />
        <result property="meetStart"    column="meet_start"    />
        <result property="meetEnd"    column="meet_end"    />
        <result property="meetLogo"    column="meet_logo"    />
        <result property="meetTitle"    column="meet_title"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectMtMeetInfoVo">
        select meet_id, meet_name, meet_start, meet_end, meet_logo, meet_title, create_by, create_time, update_by, update_time from mt_meet_info
    </sql>
	
    <select id="selectMtMeetInfoList" parameterType="MtMeetInfo" resultMap="MtMeetInfoResult">
        <include refid="selectMtMeetInfoVo"/>
        <where>  
            <if test="meetId != null  and meetId != '' "> and meet_id = #{meetId}</if>
             <if test="meetName != null  and meetName != '' "> and meet_name = #{meetName}</if>
             <if test="meetStart != null "> and meet_start = #{meetStart}</if>
             <if test="meetEnd != null "> and meet_end = #{meetEnd}</if>
             <if test="meetLogo != null  and meetLogo != '' "> and meet_logo = #{meetLogo}</if>
             <if test="meetTitle != null  and meetTitle != '' "> and meet_title = #{meetTitle}</if>
             <if test="createBy != null  and createBy != '' "> and create_by = #{createBy}</if>
             <if test="createTime != null "> and create_time = #{createTime}</if>
             <if test="updateBy != null  and updateBy != '' "> and update_by = #{updateBy}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectMtMeetInfoById" parameterType="String" resultMap="MtMeetInfoResult">
        <include refid="selectMtMeetInfoVo"/>
        where meet_id = #{meetId}
    </select>
        
    <insert id="insertMtMeetInfo" parameterType="MtMeetInfo">
        insert into mt_meet_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="meetId != null  and meetId != ''  ">meet_id,</if>
			<if test="meetName != null  and meetName != ''  ">meet_name,</if>
			<if test="meetStart != null  ">meet_start,</if>
			<if test="meetEnd != null  ">meet_end,</if>
			<if test="meetLogo != null  and meetLogo != ''  ">meet_logo,</if>
			<if test="meetTitle != null  and meetTitle != ''  ">meet_title,</if>
			<if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="meetId != null  and meetId != ''  ">#{meetId},</if>
			<if test="meetName != null  and meetName != ''  ">#{meetName},</if>
			<if test="meetStart != null  ">#{meetStart},</if>
			<if test="meetEnd != null  ">#{meetEnd},</if>
			<if test="meetLogo != null  and meetLogo != ''  ">#{meetLogo},</if>
			<if test="meetTitle != null  and meetTitle != ''  ">#{meetTitle},</if>
			<if test="createBy != null  and createBy != ''  ">#{createBy},</if>
			sysdate()
         </trim>
    </insert>
	 
    <update id="updateMtMeetInfo" parameterType="MtMeetInfo">
        update mt_meet_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="meetName != null  and meetName != ''  ">meet_name = #{meetName},</if>
            <if test="meetStart != null  ">meet_start = #{meetStart},</if>
            <if test="meetEnd != null  ">meet_end = #{meetEnd},</if>
            <if test="meetLogo != null  and meetLogo != ''  ">meet_logo = #{meetLogo},</if>
            <if test="meetTitle != null  and meetTitle != ''  ">meet_title = #{meetTitle},</if>
            <if test="createBy != null  and createBy != ''  ">create_by = #{createBy},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate(),
        </trim>
        where meet_id = #{meetId}
    </update>

	<delete id="deleteMtMeetInfoById" parameterType="String">
        delete from mt_meet_info where meet_id = #{meetId}
    </delete>
	
    <delete id="deleteMtMeetInfoByIds" parameterType="String">
        delete from mt_meet_info where meet_id in 
        <foreach item="meetId" collection="array" open="(" separator="," close=")">
            #{meetId}
        </foreach>
    </delete>
    
</mapper>