<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdl.seatms.project.system.mtperson.mapper.MtPersonMapper">
    
    <resultMap type="MtPerson" id="MtPersonResult">
        <result property="personId"    column="person_id"    />
        <result property="personCode"    column="person_code"    />
        <result property="personName"    column="person_name"    />
        <result property="personDept"    column="person_dept"    />
        <result property="personArea"    column="person_area"    />
        <result property="personRow"    column="person_row"    />
        <result property="personThumRow"    column="person_thum_row"    />
        <result property="personCol"    column="person_col"    />
        <result property="personThumCol"    column="person_thum_col"    />
        <result property="meetId"    column="meet_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="mtThumInfo" column="person_area"
                     select="com.sdl.seatms.project.system.mtthuminfo.mapper.MtThumInfoMapper.selectMtThumInfoById" />
    </resultMap>
	
	<sql id="selectMtPersonVo">
        select p.person_id, p.person_code, p.person_name, p.person_dept,p.person_area, p.person_row,
        p.person_thum_row, p.person_col, p.person_thum_col, p.create_by, p.create_time, p.update_by, p.update_time, p.meet_id
        from mt_person p
        left join sys_user u on p.person_code = u.user_id
        left join sys_dept d on u.dept_id = d.dept_id
    </sql>
	
    <select id="selectMtPersonList" parameterType="MtPerson" resultMap="MtPersonResult">
        <include refid="selectMtPersonVo"/>
        <where>  
            <if test="personId != null  and personId != '' "> and person_id = #{personId}</if>
             <if test="personCode != null  and personCode != '' "> and person_code = #{personCode}</if>
             <if test="personName != null  and personName != '' "> and person_name = #{personName}</if>
             <if test="personDept != null  and personDept != '' "> and person_dept = #{personDept}</if>
             <if test="personArea != null  and personArea != '' "> and person_area = #{personArea}</if>
             <if test="personRow != null "> and person_row = #{personRow}</if>
             <if test="personCol != null "> and person_col = #{personCol}</if>
             <if test="meetId != null and meetId != '' "> and meet_id = #{meetId}</if>
         </where>
        order by create_time desc
    </select>
    
    <select id="selectMtPersonById" parameterType="String" resultMap="MtPersonResult">
        <include refid="selectMtPersonVo"/>
        where p.person_id = #{personId}
    </select>
    <select id="selectMtPersonByCode" parameterType="String" resultMap="MtPersonResult">
        <include refid="selectMtPersonVo"/>
        where p.person_code = #{personCode}
    </select>
    <select id="selectMtPersonByObject" parameterType="MtPerson" resultMap="MtPersonResult">
        <include refid="selectMtPersonVo"/>
        where p.person_code = #{personCode}
        and p.meet_id = #{meetId}
    </select>
    <select id="selectPersonCount" parameterType="String" resultType="Integer">
        select count(1) as person_num from mt_person
        where meet_id = #{meetId}
    </select>
        
    <insert id="insertMtPerson" parameterType="MtPerson">
        insert into mt_person
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="personId != null  and personId != ''  ">person_id,</if>
			<if test="personCode != null  and personCode != ''  ">person_code,</if>
			<if test="personName != null  and personName != ''  ">person_name,</if>
			<if test="personDept != null  and personDept != ''  ">person_dept,</if>
			<if test="personArea != null  and personArea != ''  ">person_area,</if>
			<if test="meetId != null  and meetId != ''  ">meet_id,</if>
			<if test="personRow != null  ">person_row,</if>
			<if test="personThumRow != null  ">person_thum_row,</if>
			<if test="personCol != null  ">person_col,</if>
			<if test="personThumCol != null  ">person_thum_col,</if>
            <if test="createBy != null  and createBy != ''  ">create_by,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="personId != null  and personId != ''  ">#{personId},</if>
			<if test="personCode != null  and personCode != ''  ">#{personCode},</if>
			<if test="personName != null  and personName != ''  ">#{personName},</if>
			<if test="personDept != null  and personDept != ''  ">#{personDept},</if>
			<if test="personArea != null  and personArea != ''  ">#{personArea},</if>
			<if test="meetId != null  and meetId != ''  ">#{meetId},</if>
			<if test="personRow != null  ">#{personRow},</if>
			<if test="personThumRow != null  ">#{personThumRow},</if>
			<if test="personCol != null  ">#{personCol},</if>
			<if test="personThumCol != null  ">#{personThumCol},</if>
            <if test="createBy != null  and createBy != ''  ">#{createBy},</if>
            sysdate()
         </trim>
    </insert>
	 
    <update id="updateMtPerson" parameterType="MtPerson">
        update mt_person
        <trim prefix="SET" suffixOverrides=",">
            <if test="personCode != null  and personCode != ''  ">person_code = #{personCode},</if>
            <if test="personName != null  and personName != ''  ">person_name = #{personName},</if>
            <if test="personDept != null  and personDept != ''  ">person_dept = #{personDept},</if>
            <if test="personArea != null  and personArea != ''  ">person_area = #{personArea},</if>
            <if test="personRow != null  ">person_row = #{personRow},</if>
            <if test="personThumRow != null  ">person_thum_row = #{personThumRow},</if>
            <if test="personCol != null  ">person_col = #{personCol},</if>
            <if test="personThumCol != null  ">person_thum_col = #{personThumCol},</if>
            <if test="updateBy != null  and updateBy != ''  ">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where person_id = #{personId}
    </update>

	<delete id="deleteMtPersonById" parameterType="String">
        delete from mt_person where person_id = #{personId}
    </delete>
	
    <delete id="deleteMtPersonByIds" parameterType="String">
        delete from mt_person where person_id in 
        <foreach item="personId" collection="array" open="(" separator="," close=")">
            #{personId}
        </foreach>
    </delete>
    
</mapper>