<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="include :: header('座次查询')" />
	<link th:href="@{/css/mobile.css}" rel="stylesheet"/>
    <script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
    <script>tpwidget("init", {
        "flavor": "bubble",
        "location": "WWHQEUYR9RU3",
        "geolocation": "disabled",
        "position": "bottom-right",
        "margin": "10px 10px",
        "language": "zh-chs",
        "unit": "c",
        "theme": "chameleon",
        "uid": "UD9C8A1763",
        "hash": "f8dd7888f32b82872df15a05f85ec0de"
    });
    tpwidget("show");</script>
</head>
<body>
     <div class="container" id="body" v-cloak>
		<div style="width:100%; margin-top: 20px; margin-bottom: 20px;">
			<img class="col-md-7 col-sm-7 col-xs-12" style="margin-bottom: 20px;" id="logo">
			<ul class="mobile-nav masthead-nav">
				<li class="active" id="inLi" ><a href="" target="_parent" >座次查询</a></li>
				<li id="prLi"><a th:href="${'/mobile/getScheduleInfo/'+mtMeetInfo.meetId}" target="_parent" >会议日程</a></li>
			</ul>
		</div>
		<div class="row" style="margin: 40px 40px 0 40px;">
			<div style="text-align: center;">
				<input class="form-control" type="text" id="personName" style="text-align: center;"/>
				<button type="button" class="btn btn-lg" style="margin-top:10px; margin-bottom10px; background: #ffffff;" th:onclick="getMeetInfo()"><i class="fa fa-search"></i> 搜索 </button>
			</div>
		</div>
		<div class="row" style="padding: 20px;font-size: 15px; text-align: center;">
			<div v-if="personList.length > 1">
				<div>请选择一项查看位置</div>
				<div v-for="personInfo in personList">
					<input type="radio" v-bind:id="personInfo.personCode" name="status" v-bind:value="personInfo.personCode" @click="showSeat(personInfo)">
					<label v-bind:for="personInfo.personCode">{{personInfo.personName}}({{personInfo.personCode}})</label>
					<small>区域：{{personInfo.mtThumInfo.areaId}}，第{{personInfo.personRow}}排，第{{personInfo.personCol}}列</small>
				</div>
			</div>

			<div v-else v-for="personInfo in personList">
				<div>{{personInfo.personName}}({{personInfo.personCode}}) <br> <small>区域：{{personInfo.mtThumInfo.areaId}}，第{{personInfo.personRow}}排，第{{personInfo.personCol}}列</small></div>
			</div>
		</div>
		<div>
			<div>
				<div class="meet-thum-platform">主席台</div>
			</div>
			<div class="row meet-thum-row"  th:each="rowIndex:${#numbers.sequence(1,mtMeetInfo.meetRow)}">
				<div class="meet-thum-item meet-thum-item-mobile" th:each="thum:${thumList.get(rowIndex)} " th:text="${thum.areaId}" th:id="${thum.thumId}"
					 th:style="'background:'+${thum.thumColor}">
				</div>
			</div>
		</div>

		<div v-if="rowNum > 0" v-cloak style="text-align: center; padding: 20px;">
			<div v-for="rowCount in rowNum" style="line-height: 0px;">
				<div v-for="colCount in colNum" v-bind:class="rowCount == personInfo.personThumRow && colCount == personInfo.personThumCol?'thum-seat-uncheck thum-seat-check':'thum-seat-uncheck'" v-bind:id="rowCount+'_'+colCount"></div>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
	<div th:include="include :: vue-js"></div>
	<div th:include="include :: store-js"></div>
    <script th:inline="javascript">
        var prefix = ctx + "mobile";
        var meetId = [[${mtMeetInfo.meetId}]];
        let vm = null;
        var wxUser = [[${wxCpUser}]];


        $(function () {
            $("#logo").attr("src",imgCtx+[[${mtMeetInfo.meetLogo}]]);
            vm = new Vue({
                el: '#body',
                data: {
                    personList: [],
                    personInfo:undefined,
                    meetInfo:{},
                    rowNum: 0,
                    colNum: 0
                },
                methods: {
                    updatePsersonList: function(data){
                        this.personList = data;
                        this.rowNum=0;
                        $(".meet-thum-item").attr("class", "meet-thum-item meet-thum-item-mobile");
					},
                    updatePserson: function (data) {
						this.personInfo = data;
						$(".meet-thum-item").attr("class", "meet-thum-item meet-thum-item-mobile");
						$("#"+data.mtThumInfo.thumId).attr("class","meet-thum-item meet-thum-item-mobile-check");
                    },
					updateRowAndCol(row, col) {
                        this.rowNum = row;
                        this.colNum = col;
					},
					showSeat(person){
                        this.updatePserson(person);
                        this.updateRowAndCol(person.mtThumInfo.rowNum,person.mtThumInfo.colNum);
					}
                }
            });
            if (wxUser != null && wxUser !== undefined) {
                store.set("userId", wxUser.userId);
                getMeetInfoByCode(wxUser.userId);
            }
            if (store("userId") !== undefined && store("userId") !== null ){
                getMeetInfoByCode(store("userId"));
            }
        });

        function getMeetInfoByCode(personCode) {
            var data = {"personCode": personCode, "meetId":meetId};
            var config = {
                url: prefix + "/getPersonInfo",
                type: "post",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $.modal.loading("正在查询，请稍后...");
                },
                success: function (result) {
                    if (result.code == web_status.SUCCESS) {
                        vm.updatePsersonList(result.personList);
                        vm.showSeat(result.personList[0]);
                        $.modal.closeLoading();
                    } else if (result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                }
            };
            $.ajax(config);
        }

        function getMeetInfo() {
            var data = {"personName": $("#personName").val(), "meetId":meetId};
            var config = {
                url: prefix + "/getPersonInfo",
                type: "post",
                dataType: "json",
                data: data,
                beforeSend: function () {
                    $.modal.loading("正在查询，请稍后...");
                },
                success: function (result) {
                    if (result.code == web_status.SUCCESS) {
						if (result.personList.length > 1) {
                            vm.updatePsersonList(result.personList);
						} else {
                            vm.updatePsersonList(result.personList);
                            vm.showSeat(result.personList[0]);
						}


                        $.modal.closeLoading();
                    } else if (result.code == web_status.WARNING) {
                        $.modal.alertWarning(result.msg);
                    } else {
                        $.modal.alertError(result.msg);
                    }
                    $.modal.closeLoading();
                }
            };
            $.ajax(config);
        }
    </script>
</body>
</html>