<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增会议日程')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-mtAgendaTitle-add">
			<input id="meetId" name="meetId" type="hidden" th:field="${mtMeetInfo.meetId}">
			<div class="form-group">	
				<label class="col-sm-3 control-label">日期：</label>
				<div class="col-sm-8">
					<div class="input-group date">
						<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						<input id="agendaDate" name="agendaDate" class="form-control" type="text" readonly>
					</div>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "meeting/mtAgendaTitle";

        $(function() {
            dateTimeInit();
        });

        function dateTimeInit() {
            layui.use('laydate', function(){
                var laydate = layui.laydate;

                var agentDate = laydate.render({
                    elem: '#agendaDate',
                    theme: 'molv',
                    trigger: 'click'
                });
            });
        }

		$("#form-mtAgendaTitle-add").validate({
			rules:{
                agendaDate:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-mtAgendaTitle-add').serialize());
	        }
	    }
	</script>
</body>
</html>
